<!--<p>font-size-editor works!</p>-->
<!--&#45;&#45; Sử dụng sự kiện change để thay đổi kích thước của chữ-->
<!--<h2>Font size editor</h2>-->

<!--<div>-->
<!--  <label>Enter font size (px):</label>-->
<!--  <input #element type="range" min="9" max="72" value="18" (change)="changeFontSizeValue(element.value)">-->
<!--</div>-->

<!--<p class="output" [style.fontSize.px]="fontSize">-->
<!--  This is a paragraph.-->
<!--</p>-->
<!--&#45;&#45; Sử dụng Two Way Binding để tự thay đổi-->
<h2>Font size editor</h2>

<div>
  <label>Enter font size (px):</label>
  <input type="range" min="9" max="72" value="18" [(ngModel)]="fontSize">
</div>

<p class="output" [style.fontSize.px]="fontSize">
  This is a paragraph.
</p>
